<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />

    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />

    <!--
      <add key="Runflare" value="https://mirror-nuget.runflare.com/v3/index.json" />
      <add key="Liara" value="https://package-mirror.liara.ir/repository/nuget/" />
      <add key="Pardis" value="https://mirrors.pardisco.co/nugetv3/index.json" />
      <add key="Chabok" value="https://mirror2.chabokan.net/nuget/v3/index.json" />
      <add key="DevNeeds" value="https://nuget.devneeds.ir/" />
    -->
  </packageSources>

  <!--
  <packageSourceMapping>
    <packageSource key="Liara">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
  -->
</configuration>
